.main {
  margin-bottom: 50px;
}

.paper {
  padding: 40px;
  background-color: transparent !important;
  color: white !important;
}

.city > * {
  margin: 0;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
